.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 56px 1fr 36px;
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

.main {
  display: grid;
  grid-template-columns: 204px 1fr 268px;
  min-height: 0;
  min-width: 0;
}
